#Data Cleaning

In [30]:
import pandas as pd 
import os
from pathlib import Path 
import numpy as np

In [113]:
root_dir = Path('.').resolve().parent
filename = 'llamadas123_julio_2022.csv'
data_dir = 'raw'

file_path = os.path.join(root_dir,'data','raw',filename)
#file_path
data = pd.read_csv(file_path, sep=';', encoding='latin-1') #Trae archivo de llamadas desde ubicacion

In [33]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [34]:
#obteer informacion basica de los datos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [39]:
#Eliminar registros duplicados
print ('forma inicial',data.shape)
data = data.drop_duplicates() # drop desechar duplicados desde pandas
data.reset_index(inplace=True, drop=True) #Elimina columas dulicadas desde el indice
print('forma final', data.shape)

forma inicial (13026, 11)
forma final (13026, 11)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [44]:
#Tratamiento de valores nulos
#nulo de string = sin_dato - n/a
#nulo numeros = numpy utilizar funcion nan(not_asigned_name) (np.nan)
#nulo de fechas = nat (not_asigned_time)

col = 'UNIDAD'
# data [col].value_counts(dropna=False, normalize=True) ---- # dropna = mostrar nulos (dropna=false, no ignorar los nulos) - normalize = porcentualizar la frecuencia de repeticion de los datos
data [col].fillna('SIN_DATO', inplace=True) #fillna (incluye a una variable definida nombrandola coo campo ya establecido en)
data [col].value_counts(dropna=False, normalize=True)

A¤os        0.520574
SIN_DATO    0.475587
Meses       0.002994
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [46]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [47]:
fecha = '2022-07-01 00:08:59'
pd.to_datetime(fecha)

Timestamp('2022-07-01 00:08:59')

In [49]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col]

0        2022-07-01 00:08:59
1        2022-07-01 00:14:58
2        2022-07-01 00:21:59
3        2022-07-01 00:38:38
4        2022-07-01 00:53:32
                ...
13021    2022-08-08 05:31:48
13022    2022-08-08 10:38:32
13023    2022-08-08 11:23:01
13024    2022-08-08 11:23:01
13025    0000-00-00 00:00:00
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: object

In [54]:
fecha = ' 0000-00-00 00:00:00'
pd.to_datetime(fecha, errors='coerce', format= '%Y/%m/%d') #format (asigna formato fecha)

NaT

In [55]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col] = pd.to_datetime (data[col], errors='coerce') #pd.to_datetime (convierte formato a valor fecha) --- coerce (cuando encuentra error asigna valor nulo)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [60]:
col = 'EDAD'
data[col]

0              88
1              16
2              52
3        SIN_DATO
4              33
           ...
13021          18
13022    SIN_DATO
13023          11
13024          19
13025    SIN_DATO
Name: EDAD, Length: 13026, dtype: object

In [61]:
col = 'EDAD'
data[col].value_counts()

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [64]:
col = 'EDAD'
data[col].replace({'SIN_DATO': np.nan}, inplace=True) #.replace({'SIN_DATO': np.nan} (reemplaza campos sin dato a valor nulo)
data[col]

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [65]:
data.info() #edad sigue siendo objeto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [67]:
data[col].unique()

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [74]:
#funciones lambda (siepre con ':' para syntaxis)
str_num = '28'
f = lambda x: x if pd.isna(x) else int(x) #convertir formato con lambda (si x es nulo, ejecute el entero de x)

f(str_num)

28

In [73]:
data[col] = data[col].apply(f)

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [79]:
col = 'RECEPCION'
data[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [80]:
#Date time
from dateutil.parser import parse #libreria para encontrar fecha en ualquier formato, conservando el formato
fecha = 'may 29th 2021'
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [86]:
fechas = lambda x: parse(x)
list_fechas = list()

for fecha in data[col]:
    try:
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha, errors='coerce')
    list_fechas.append(new_fecha)
    
data ['RECEPCION_Corregida'] = list_fechas

In [87]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_Corregida
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RECEPCION_Corregida                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [89]:
#strings
word1 = 'Big Data'
word2 = ' Big Data'

print(word1.strip()) #strip quita espacios extremos
print(word2)

Big Data
 Big Data

In [90]:
word1.replace(' ','-')# reemplaza caracteres o espacios por otros caracteres

'Big-Data'

In [97]:
#word1.upper()
#word1.lower()
word1.capitalize()

'Big data'

In [98]:
col = 'LOCALIDAD'
data[col].unique()

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [108]:
import re

#txt='suba'

def encontrar_patron(patron, txt):
    if re.search(patron, txt):
        new_txt='Los Martires'
        return new_txt
    else:
        pass

encontrar_patron('Los.*tires', 'Usaqu\x82n')

In [111]:
encontrar_patron('Los.*tires', 'Usaqu\x82n')